# Port
PORT=5000
NODE_ENV=development

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# MySQL Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=TechsAI
DB_USER=root
DB_PASSWORD=your_password

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/techsai

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=7d

# Gemini API
GEMINI_API_KEY=your_gemini_api_key

# OpenRouter API
OPENROUTER_API_KEY=your_openrouter_api_key
SITE_URL=http://localhost:5173
SITE_NAME=TechsAI

# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
